.navbar {
  display: flex;
  column-gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-decoration: none;
}
.link1{
text-decoration: none;
color:green;
font-weight: bolder;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}